* {
  box-sizing: border-box;
}

body {
  
  font-family: "Poppins", sans-serif;
  background-color: #e4c9e5;
  height: 100vh;
  width: 100vw;
}

.Login_div, .form_field, .form_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login_div > h1{
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 0;
  max-width: 70%;
  text-align: center;
}

.form_div{
  position: relative;
  background-color: white;
  margin-top: 30px;
  width: 60%;
  min-width: 280px;
  height: 400px;
  border-radius: 30px;
  transform-style: preserve-3d;
}

form{
  width: 50%;
  min-width: 200px;
}

.form_field > label{
  align-self: flex-start;
  font-weight: 300;
}

.form_field > input{
  width: 100%;
  height: 33px;
  margin: 2px;
  padding: 5px 10px;
  border-color: #dee0df;
  border-radius: 12px;
  border-width: 0.5px;
  background-color: #dee0df;
}

.submit{
  margin-top: 15px;
  margin-bottom: 5px;
  min-width: 100px;
  height: 13%;
  color: white;
  background-color: #feb06a;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.link, p{
  margin-top: 0;
  font-weight: 300;
}

.link{
  text-decoration: none;
  color: blue;
}

.link:visited{
  color: blue;
}

.link:hover{
  text-decoration: underline;
}

#circle1, #circle2{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  transform: translateZ(-10px);
}

#circle1{
  background-color: #feb06a;
  top: -50px;
  left: -100px;

}

#circle2{
  background-color: #36d6e7;
  bottom: -50px;
  right: -100px;

}

